@import 'global/global.scss';

$thumbnailWidth: 200px;
$listHeight: 150px;

.PostList {
    position: relative;
    border: none;
}

.list {
    position: relative;
    display: flex;
    height: $listHeight;
    padding-right: 20px;
    margin-bottom: 10px;
    font-size: 0.85rem;
    font-weight: 300;
    text-align: left;
    background-color: var(--bg-pitem);
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.18);
    overflow: hidden;
    cursor: pointer;
    transition: background-color 150ms;

    .thumbnail {
        position: relative;
        width: $thumbnailWidth;
        min-width: $thumbnailWidth;
        margin-left: 0px;
        overflow: hidden;

        &>img {
            width: 100%;
            height: 100%;
            background-color: var(--bg-thumbnail);
            border: 1px solid var(--bg-thumbnail-border);
            object-fit: contain;
            box-sizing: border-box;
            will-change: transform;
            transition: transform 250ms ease-in-out;
        }
    }

    .thumbnail_cover {
        position: absolute;
        display: flex;
        width: $thumbnailWidth;
        height: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: var(--bg-pitem-cover);
        transition: background-color 150ms;

        &>p {
            display: -webkit-box;
            width: 200px;
            max-height: 4.5rem;
            padding: 0 15px;
            color: white;
            font-size: 0.9rem;
            font-weight: 700;
            line-height: 1.4rem;
            overflow: hidden;
            word-wrap: break-word;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            text-shadow: var(--text-pitem-shadow);
            box-sizing: border-box;
            transition: text-shadow 150ms;
        }
    }

    .container {
        padding-left: 20px;
        font-weight: 500;

        &>.inner {
            display: flex;
            height: 24px;
            overflow: hidden;
            margin: 15px 0;
            margin-bottom: 15px;
            

            &>.flexBox:first-child {
                position: relative;
                display: flex;
                min-width: 0;
                font-size: 1rem;
                flex: 1;
                overflow: hidden;
            }
        }
    
        .mainTag {
            color: var(--text-pitem-tagname);
            margin-right: 8px;
            white-space: nowrap;
            transition: color 150ms;
        }
    
        .postTitle {
            display: -webkit-box;
            height: 24px;
            color: var(--text-normal);
            font-size: 1rem;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            word-wrap: break-word;
            transition: color 150ms;
        }
    
        .postDate {
            padding-left: 10px;
            color: var(--text-sub);
            white-space: nowrap;
            font-size: 0.75rem;
            transition: color 150ms;
        }
    
        .postContent {
            display: -webkit-box;
            width: 100%;
            min-width: 0;
            max-height: 2.8rem;
            line-height: 1.4rem;
            margin-left: 7px;
            font-weight: 500;
            font-size: 0.7rem;
            text-align: left;
            color: var(--text-sub);
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            word-wrap: break-word;
            transition: color 150ms;
        }
    
        .info_wrap {
            display: flex;
            min-width: 0px;
            height: 25px;
            line-height: 25px;
            justify-content: flex-start;
            margin-top: 14px;
            overflow: hidden;
            flex-wrap: wrap;
    
            &>.view_img{
                background: url('/img/view.png') 50% 50% no-repeat;
            }
            &>.comment_img{
                background: url('/img/comment.png') 50% 52% no-repeat;
            }
            &>.like_img{
                background: url('/img/like.png') 50% 50% no-repeat;
            }
            &>.icon {
                width: 25px;
                height: 25px;
                background-size: 13px 13px;
                filter: var(--img-pitem-icon);
                min-width: 0px;
                overflow: hidden;
                transition: filter 150ms;
            }
            &>p {
                margin-left: 3px;
                margin-right: 16px;
                font-size: 0.65rem;
                color: var(--text-normal);
                min-width: 0px;
                overflow: hidden;
                transition: color 150ms;
            }
            &>.name {
                flex: 1;
                min-width: 0px;
                overflow: hidden;
                text-align: right;
                font-size: 0.7rem;
                font-weight: 500;
                color: var(--text-normal);
                transition: color 150ms;
            }
        }
    }
    
    &:hover {
        background-color: var(--bg-pitem-hover);
    }
    &:hover img {
        transform: scale(1.065, 1.065);
    }
}


@include mobile {
    /*브라우저 사이즈767px이하일때*/
    .postTitle {
        position: absolute;
        
    }
    .mainTag {
        display: none;
    }
    
    .thumbnail {
        width: 170px !important;
        min-width: 170px !important;
    }
    .thumbnail_cover {
        width: 170px !important;
    }
    .info_wrap {
        &>p{
        margin-left: 2px !important;
        margin-right: 7px !important;
        }
    }
    .name {
        display: none;
    }
}